.content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
}

.constructor {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 560px;
}

.price {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.top {
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: flex;
    justify-content: flex-end;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 16px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
}