.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 32px;
}

.id {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #F2F2F3;
}

.image {
    margin: 28px 0;
    height: 120px;
}

.image img {
    object-fit: contain;
    height: 100%;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
}

.status {
    composes: id;
    font-size: 16px;
    font-weight: 400;
}

.await {
    composes: id;
    font-size: 16px;
    font-weight: 400;
    color: #8585AD;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #F5F5F5;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}