@font-face {
  font-family: 'JetBrainsMon';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono.ttf") format("tff");
}

body {
  margin: 0;
  font-family: 'JetBrainsMon',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 40px;
}
